.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App-header {
  background-color: #ebebeb;
  padding: 2rem;
  text-align: center;
  width: 500px;
  height: 250px;
  border-radius: 5px;
}

.text {
  padding: 1rem;
}

.btn {
  background-color: #b7adcf;
  padding: 1rem 1.5rem;
  margin: 1rem;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 900;
  font-size: 1rem;
}

@media (max-width: 480px) {
  .App {
    align-items: flex-start;
  }
  .App-header {
    width: 70vw;
    margin-top: 1rem;
  }
  .btn {
    font-size: 1.2rem;
  }
}
